@charset "utf-8";
/*
Theme Name: Whiteboard
Theme URI: http://whiteboardframework.com/
Author: Bold Perspective
Author URI: http://boldperspective.com/
Description: Whiteboard Framework has been helping Wordpress developers cut back on their development time and improve their Wordpress powered websites since 2008.
Version: 3.2.1

 * Built on the Whiteboard Framework
 * http://whiteboardframework.com
 */

/*
 * The Whiteboard Framework is licensed under the GPL license.
 * Feel free to use the Whiteboard Framework for commercial and non-commercial ventures.
 * We require a link in the CSS file and request a link on the website
*/

/*
List of divs in Whiteboard
Note that this list does not include the dynamically generated ids and classes, such as the body classes, the post ids, etc
*/

*{
  margin: 0px;
  padding: 0px;
  font-family: Tahoma;
  font-size: 14px;
  color: #4b4b4b;
}


.blog_site_btn{
	position: fixed;
	left: 0px;
	top: 40%;
	left: -4px;
} 

.blog_site_btn:hover{
	left: 0px;
}

#subheader_social{
  float: left;
}

/********************************************** ELEMENTS **************************************/
body{
	background-image: url(images/bg.png);
	padding: 0px;
}

.post-content img{
	border: none;
	border: 3px solid #e0e0e0 !important;
	border-radius: 3px;
	margin: 20px;
}

.post-content img.alignright{
	float: right;
}

.post-content img.alignleft{
float: left;
}

.wp-caption-text{
	text-align: center;
	font-size: 12px;
	background-color: #f4f4f4;
	width: 99%;
}

a{
	text-decoration: none;
	color: #00C7F4 !important;
	transition: none !important;
	
}

a:hover{
	text-decoration: underline;	
}


h1,
h2,
h3,
h4,
h5,
h6{
	font-family: "Bubblegum Sans";
	color: #00c7f4;
	font-weight: lighter;
}

h1, h1 a{
	font-size: 33px !important;
}

h2, h2 a{
	font-size: 26px;
}

input, textarea, select{
	border: 1px solid #97d0e5;
	color: #8b8888;
	padding: 4px;
	border-radius: 5px;
}

input:hover, textarea:hover, input:focus, textarea:focus{
	border-color: #1d98c5;
	box-shadow: 0 0 0px #9fdbf0 inset;
}

input[type=radio]{
	cursor: pointer;
}

select option{
	padding-right: 5px;
}

label{
	font-size: 16px;
	color: #00c7f4;
	display: block;
	margin-bottom: 5px;
}

li{
	list-style-position: inside;
}

hr{
	color:  #f3f3f3;
	margin-bottom: 10px;
}



body {
	
}

p{
	margin-bottom: 10px !important;
}

#main {
  background-color: white;
}

#header {
  background-image: url("images/header_bg.png");
  background-position: center bottom;
  height: 89px;
}


#header .container{
  background-image: url("images/header_bg.png");
  background-position: center bottom;
  height: 89px;
  padding: 0px;
  margin: auto;
}

	nav {
		
	}
	nav.primary {
		
	}
	nav.footer {
		
	}
	#widget-header {
		
	}
	#widget-alert {
		
	}

#content {
	border: 0px;
	width: 718px !important;
   color: #4b4b4b !important;
}


	article {
		
	}
		.featured-thumbnail {
			
		}
		.post-content {
			
		}
			.pagination {
				
			}
	.post-meta {
		
	}
	.post-navigation {
		
	}

#comments {
	margin-top: 20px;
}
	li.comment {
		list-style-type: none;
		padding: 5px;
		margin-bottom: 10px;
	}
		.odd {
			background-color: #ecfcff;
			border: 2px solid #d1f4fe;
		}
		.even {
			
		}
		.author-comment {
			float: left;
		}
		.comment-text p{
			font-size: 12px !important;
			line-height: 18px;
			margin-left: 40px;
		}
		.comment-meta {
			float: left;
		}
			p.gravatar {
				
			}
		.waiting-for-approval {
			
		}
	#trackbacks {
		
	}
		li.trackback {
			
		}
	p#no-comments {
		
	}
	#comments-form {
		
	}
		#respond {
			
		}
		.cancel-comment-reply {
			
		}

.page {
	
}
	#page-content {
		
	}
	#page-meta {
		
	}

.post {
	
}
	.postContent {
		
	}
	.post-excerpt {
		
	}

nav.oldernewer {
	
}
	.older {
		
	}
	.newer {
		
	}

.search {
	
}

.author {
	
}
#recent-author-posts {
	
}
#recent-author-comments {
	
}

#error404 {
	
}

#sidebar {
	border-top: 0px;
	width: 266px !important;
}
	#widget-sidebar {
		
	}
		#sidebar-search {
			
		}
		#sidebar-nav {
			
		}
		#sidebar-archives {
			
		}
		#sidebar-meta {
			
		}
		.widget {
			
		}

#footer {
	
}
	#widget-footer {
		
	}
	#footer-nav {
		
	}
	
.no-results {
	
}

.widget-area {
	
}

.none { /* this class is used to hid the skip to content link at the beginning of the document for accessibility */
	display: none;
}
.clear {
	clear: both;
}
.left {
	float: left;
}
.right {
	float: right;
}
.aligncenter {
	text-align: center;
}
.alignleft {
	text-align: left;
}
.alignright {
	text-align: right;
}

/* Always remember to compress your live stylesheet and keep an uncompressed backup */

#logo{
	background-image: url(images/logo.png);
	background-repeat: no-repeat;
	width: 750px;
	height: 84px;
	background-position: 0px 10px;
}

#logo a{
	display: block;
	width: 100%;
	height: 100%;	
}

#slogan{
  color: #178fbb;
  font-family: "Bubblegum Sans";
  font-size: 16px;
  position: relative;
  left: 175px;
  top: -20px;
}


.post-edit-link, .comment-edit-link{
	background-color: #ffdead;
	color: black;
	display: block;
	padding: 0px;
	padding-left: 5px;
	padding-right: 5px;
	text-decoration: none;
	border-radius: 3px;

	font-weight: bold;
	float: right !important;
}

.post-edit-link *, .comment-edit-link{
	color: black !important;
	font-size: 12px !important;
}

.post-edit-link:hover, .comment-edit-link:hover{
	background-color: #b26c00;
	color: white !important;
	text-decoration: none;
}

.post-edit-link:hover small{
	color: white !important;
}


input[type=submit]{
	cursor: pointer;
	background-image: url(images/submit_btn_bg.png);
	background-repeat: repeat-x;
	border-radius: 5px;
	color: white;
	padding: 4px;
	padding-left: 10px;
	padding-right: 10px;
	border: none;
}


#search_box{
	margin-top: 10px;
	margin-right: 20px;
	float: right;
	}

#search_box a{
	font-size: 12px;
	color: white;
}

#search_box a:hover{
	text-decoration: underline;
}

#search_box form{
	background-color: white;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 1px;
}

#search_box form input{
	border: none;
	background-color: transparent;
	display: inline-block;
}

#search_box form input[type=text]{
	width: 200px;
	padding-left: 5px;
	padding-right: 5px;
	color: #b2b2b2;
	border: 0px;
	box-shadow: 0px;
}

#search_box form input:hover, #search_box form input:focus{
	border: 0px !important;
	box-shadow: none;
}

#search_box form input[type=submit]{
	background-image: url(images/search_btn_bg.png);
	background-position: left;
	background-repeat: no-repeat;
	width: 40px;
	height: 33px;
	border-radius: 0px 5px 5px 0px ;
}

p.post_comments{
	background-image: url(images/comments_icon.png);
	background-position: left 7px;
	background-repeat: no-repeat;
	padding-left: 20px;
}
p.post_categories{
	background-image: url(images/tags_icon.png);
	background-position: left 7px;
	background-repeat: no-repeat;
	padding-left: 20px;
}

p.post_time_author{
	font-style: italic;
	font-size: 12px;
	color: #ccc;
}

p.post_tags{	
 margin-left: 20px;
}

#searchform label{
	display: none;
}


#newsletter_button_fixed{
	position: fixed;
	top: 39%;
	right: 0px;
	cursor: pointer;
	background-image: url(images/newsletter_btn.png);
	width: 66px;
	height: 217px;
	z-index: 10000;
}

#newsletter_box_fixed{
	display: none;
	position: fixed;
	top: 40%;
	right: -300px; /* 80.65%; */
	background-image: url(images/newsletter_bg_detail.png);
	background-color: #a0def9;
	background-repeat: no-repeat;
	background-position: right;
	height: 178px;
	padding: 10px;
	font-size: 12px;
	color: #64b8dc;
	width: 330px;
}


#categories_menu{
	width: 265px;
	display: inline-block;
	vertical-align: top;
	margin-left: 30px;
	border-bottom: 1px solid #DEDEDE;
	
}

#categories_menu .ad_space{
	margin: auto;
}

#categories_menu_header{
	background-color: #d6f3ff;
	color: #0d7aa2;
	font-size: 20px;
	text-align: center;
	padding: 10px;
	border-radius: 0px 0px 5px 5px;
	position: relative;
	width: 100%;
	height: 25px;
	margin-bottom: 10px;
}

#categories_menu_header a{
  display: block;
  width: 100%;
  height: 100%;
  /*text-decoration: underline;*/
	color: #0d7aa2;
	font-size: 20px;
}

#categories_menu_header a:hover{
text-decoration: none;
}

.category_menu_item{
	padding-bottom: 5px;
	padding-top: 5px;
	border-radius: 3px;
	width: 100%;
	padding-right: 10px;
}

.category_menu_item:hover{
	background-color: #d6f3ff;
}

.category_menu_item:hover a{
	color: #0d7aa2;
	text-decoration: none;
}

.category_menu_item a{
	font-size: 15px;
	color: #00c7f4;
	margin-left: 10px;
	display: block;
	width: 100%;
	vertical-align: middle;
}

#subheader_social{
	float: left;
}

/******************************** FOOTER *****************************************/

#footer{
	
margin: auto;
width: 1000px;
margin-top: 20px;
}


.footer_section{
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	height: 110px;
}


#footer_logo{
	background-image: url(images/logo_bottom.png);
	width: 281px;
	height: 32px;
}

#copyright{
	text-align: right;
	color: #3ca5d2 !important;
	font-size: 12px;
}

#footer_center{
	width: 28%;
}

#footer_links, #footer_links a{
	color: #3fa6d3 !important;
}

#footer_links a{
	padding-left: 8px;
	padding-right: 8px;
	text-decoration: underline;	
	line-height: 25px;
/*	border-right: 1px solid #3fa6d3; */
}

#footer_links a.last{
  border: none;
}

#footer_links a:hover{
	text-decoration: underline;
}

#footer_social{
	margin-top: 10px;
	background-color: #8fd7f6;
	padding: 3px;
	border-radius: 5px;
	padding-bottom: 1px;
	width: auto;
	float: left;
	padding-bottom: 0px;
	padding-top: 6px;
}

#footer_social_text{
	float: left;
	margin-right: 10px;
	margin-left: 5px;
	color: white;
	font-size: 13px;
	margin-top: 7px;
}

.newsletter_heading{
	font-size: 27px;
	font-weight: bold;
	color: #1183b4;
}

.newsletter_subheading{
	font-size: 18px;
	color: #5ebfe9;
}

.newsletter_box{
	background-color: white;
	padding: 3px;
	border-radius: 5px;
	margin-top: 5px;
	padding-top: 2px;
	width: 290px;
}

.newsletter_box input{
	border: none;
}

.newsletter_box input[type=text]{
	font-size: 15px;
	color: #c1c1c1;
	width: 179px;
}

.newsletter_box input[type=submit]{
	background-image: url(images/newsletter_btn_bg.png);
	background-repeat: repeat-x;
	height: 27px;
	padding-bottom: 4px;
	border-radius: 5px;
	color: #fefefe;
	font-size: 15px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	cursor: pointer;
}

.newsletter_box .submit{
	display: inline-block;
}

#footer_left{
	border-right: 1px solid #7ecdf0;
}

#footer_center{
	border-left: 1px solid #caefff;	
	border-right: 1px solid #7ecdf0;
	width: 31%;
}

#footer_right{
	border-left: 1px solid #caefff;	
	width: 27%;
}

