@charset "utf-8";

/*
	general styles
 */

.serif,
cite,
blockquote,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: palatino,platino linotype,georgia,times,times new roman,serif;
	font-weight: normal;
}

.post h2,
.post h3,
.post h4,
.post h5,
.post h6 {
	margin: 24px 12px 12px;
}

.monospace,
var,
code {
	font-family: courier new, courier, monospace;
}

.amp {
	font-style: italic;
	font-family: baskerville,palatino,palatino linotype,book antiqua,georgia,times,times new roman,serif;
	font-weight: normal;
}

a:link {
	color: #075b01;
}
a:visited {
	color: #054a01;
}
a:hover,a:active {
	color: #0fd003;
}

.post-content ul,
.post-content ol {
	padding-left: 24px;
}

input,
textarea { 
	border: 1px #aaa solid;
	padding: 5px;
	outline: none;
}
input:hover,
textarea:hover,
input:focus,
textarea:focus {
	border: 1px #444 solid;
}
input:focus,
textarea:focus {
	box-shadow:inset 0px 0px 10px rgba(0,0,0,.2);
	-webkit-box-shadow:inset 0px 0px 10px rgba(0,0,0,.2);
	-moz-box-shadow:inset 0px 0px 10px rgba(0,0,0,.2);
}
textarea {
	min-height: 150px;
	width: 100%;
}

blockquote {
	border-top: 1px #ccc dotted;
	border-bottom: 1px #ccc dotted;
	text-align: justify;
	margin: 20px;
	padding: 12px;
}
	blockquote:first-letter {
		font-size: 24px;
		padding-right: 1px;
	}
	blockquote:first-line {
		font-size: 20px;
}


/*
	layout styles
 */

#if-logged-in .container {
	background: #000;
	margin-top: -24px;
}

body {
	background: #000;
	color: #111;
	padding: 24px 0;
}

.container {
	background: #fff;
}
	#header .container {
		padding-top: 80px;
		padding-bottom: 40px;
	}
		#title {
			position: relative;
			height: 80px;
		}
			#logo,
			#tagline {
				position: absolute;
				top: 6px;
			}
			/*#logo {
				left: 0;
				font-size: 72px;
				line-height: 72px;
				letter-spacing: 0;
			}*/
			#tagline {
				font-size: 18px;
				right: 0;
				line-height: 36px;
			}
			#header-image.container {
				padding: 0;
			}
	#nav-primary {
		clear: both;
		width: 100%;
		padding: 0 10px;
	}
		#nav-primary ul,
		#nav-primary li {
			list-style: none;
		}
			#nav-primary a {
				float: left;
				display: block;
				padding: 0 10px;
			}
	#widget-header {
		clear: both;
	}
	
	#content {
		border-top: 1px #ccc solid;
	}
		#widget-alert {
			background: #C6D8CD;
			border: 1px #5b816a solid;
			padding: 24px;
			margin-bottom: 24px;
		}
		.post-single {
			padding-bottom: 20px;
			margin-bottom: 20px;
			border-bottom: 1px #dedede solid;
		}
	#sidebar {
		border-top: 1px #ccc solid;
	}
		#sidebar .widget-area {
			padding-bottom: 20px;
			margin-bottom: 20px;
			border-bottom: 1px #dedede solid;
		}
			#siebar ul,
			#sidebar li {
				padding: 0;
				margin: 0;
				list-style: none;
			}
				#sidebar .children {
					padding-left: 10px;
				}
					#sidebar .children .children {
						padding-left: 10px;
					}
	#footer .container {
		padding-top: 20px;
		padding-bottom: 20px;
		background: #a9a9a9;
		background: rgba(225,225,225,.75);
		border-top: 1px #696969 solid;
	}
		#footer-content {
			padding: 20px;
		}
			#footer ul,
			#footer li {
				display: inline;
				list-style: none;
			}
				#footer li a {
					padding: 0 10px;
				}



/*	13-column layout
	60 px columns, 24 px gutters, 72 px margins, 1212 px total (extra space for scrollbars)
	---------------------------------------------------------------------------------------
	1     2      3      4      5      6      7      8      9      10     11     12     13
	60px  144px  228px  312px  396px  480px  564px  648px  732px  816px  900px  984px  1068px	*/

@media only screen and (min-width: 1212px) {
	
	.container {
		
	}
		#content {
			
		}
		#sidebar {
			
		}
	
}


/*	5-column layout
	60 px columns, 24 px gutters, 42 px margins, 480 px total
	---------------------------------------------------------
	1     2      3      4      5
	60px  144px  228px  312px  396px	*/

@media only screen and (max-width: 767px) and (min-width: 480px) {
	
	.container {
		
	}
		#logo,
		#tagline {
			position: relative;
			line-height: 30px;
		}
		#logo {
			font-size: 42px;
		}
		
		#content {
			float: none;
		}
		#sidebar {
			float: none;
			background: #eee;
			margin-left: -42px;
			margin-right: -42px;
			padding-left: 52px;
			padding-right: 52px;
			width: 376px;
			border-bottom: 1px #ccc solid;
		}
		#footer .container {
			padding-top: 0;
		}
			#footer-content {
				border: 0;
				padding: 10px;
			}
	
}


/*	3-column layout
	60 px columns, 24 px gutters, 46 px margins, 320 px total
	---------------------------------------------------------
	1     2      3
	60px  144px  228px	*/

@media only screen and (max-width: 479px) {

	#if-logged-in {
		height: 40px;
		line-height: 20px;
	}
		#if-logged-in .right {
			float: left;
			clear: left;
		}
	
	.container {
		
	}
		#logo,
		#tagline {
			position: relative;
			line-height: 30px;
		}
		#logo {
			font-size: 42px;
		}
		#tagline {
			font-size: 16px;
		}
		
		#content {
			float: none;
		}
		#sidebar {
			float: none;
			background: #eee;
			margin-left: -42px;
			margin-right: -42px;
			padding-left: 52px;
			padding-right: 52px;
			width: 212px;
			border-bottom: 1px #ccc solid;
		}
		#footer .container {
			padding-top: 0;
		}
			#footer-content {
				border: 0;
				padding: 10px;
			}
	
}

/* Enable images in posts to automatically resize */
/* as browser window changes sizes.               */

.post-content img {
  max-width: 100%;
  height: auto;
}


/* Always remember to compress your live stylesheet and keep an uncompressed backup */
